.wrapper

  = render "shared/side_bar"
          
  .chat-main
    .header
      .left-header
        .left-header__title
          BeeMusic
        %ul.left-header__members
          Member:
          %li.member
            セイジ
          %li.member
            ウィル
          %li.member
            グウェン    
      .right-header
        = link_to "#" do
          .right-header_btn
            Edit     
    .chat-main__group-messages
      .message
        .upper-message
          .upper-message__user
            セイジ
          .upper-message__date
            2020/02/01
        .lower-message
          .lower-message__content
            ミンティアは効くなぁ
      .message
        .upper-message
          .upper-message__user
            ウィル
          .upper-message__date
            2020/02/01
        .lower-message
          .lower-message__content
            僕のなんの力もないから
      .message
        .upper-message
          .upper-message__user
            グウェン
          .upper-message__date
            2020/02/01
        .lower-message
          .lower-message__content
            スカイハイへようこそ              
    .form
      %form
        %input.form__message
          .form__post
            %label.form__post__image
              = icon('fa', 'image',class: 'icon')
              %input.hide{type: 'file'}
        %input.form__submit{type: 'submit', value: "Send"}    


        
